
#### Kustomize / Helm ---------------------------------------------------------

# Ignore secrets
**/secrets/*
!**/secrets/*-encrypted.yaml

#### IDE's --------------------------------------------------------------------

# Jetbrains IDE's
.idea/
*.iml

# VSCode
.vscode/

#### Operating Systems --------------------------------------------------------

# OSX
._*
.DS_Store

#### Binaries -----------------------------------------------------------------

*.so
*.dylib
*.exe
*.exe~
*.dll
